/target/
target/
superheroreact/nbproject/
superheroreact//node_modules
superheroreact/.pnp
superheroreact/.pnp.js

# testing
superheroreact//coverage

# production
superheroreact//build

# misc
superheroreact/.DS_Store
superheroreact/.env.local
superheroreact/.env.development.local
superheroreact/.env.test.local
superheroreact/.env.production.local

superheroreact/npm-debug.log*
superheroreact/yarn-debug.log*
superheroreact/yarn-error.log*
